<section class="home fade-in">
  <h2 class="headline">Hello {{user.firstName}} {{user.lastName}}!</h2>

  <div class="grid-container home">
    <div class="item-card">

      <app-select
        class="home-select"
        label="Status"
        (selectedChange)="this.tasks && changeTaskPriority($event)"
        [items]="priorities"
        [selectedItem]="priorities[0].value">
      </app-select>

      <app-chart
        [type]="chartType.DOUGHNUT"
        [text]="chartStats.text"
        [values]="chartStats.values"
        [labels]="chartStats.labels"
        [colors]="chartStats.colors">
      </app-chart>
    </div>

    <div class="item-card">
      <div class="item-card__title">
        Last priority
        <mat-spinner *ngIf="loading" class="spinner-icon" [diameter]="26"></mat-spinner>
      </div>

      <ul class="task-container">
        <li *ngFor="let task of tasks" class="task-item fade-in">
          <div class="task-decoration">{{task.value.charAt(0)}}</div>
          {{task.value}}
        </li>
      </ul>
    </div>
  </div>

</section>
