@import 'mixins';
@import 'variables';

.header {
  font-size: 34px;
  display: flex;
  align-items: center;
  @include box-shadow;
  opacity: .9;
  transition: $transition;
  justify-content: space-between;
  background-color: $white-color;
}
