@import 'mixins';
@import 'variables';

.logo-wrapper {
  display: flex;
  align-items: center;

  &_small {
    .logo-image {
      max-width: 25px;
    }

    .slogan {
      font-size: 22px;
    }
  }

  &_medium {
    .logo-image {
      max-width: 45px;
    }

    .slogan {
      font-size: 30px;
    }
  }

  &_large {
    .logo-image {
      max-width: 100px;
    }

    .slogan {
      font-size: 32px;
    }
  }
}

.logo-image {
  margin: 20px;
  @include rotate-animation;
}

.slogan {
  color: $white-color;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}
