@import 'mixins';
@import 'variables';
@import 'keyframes';

* {
  outline: none;
  box-sizing: border-box;
  font-weight: 400;
  font-family: $base-fonts;
}

.flex {
  display: flex;
}

.fade-in {
  @include fade-in;
}

.theme-text {
  color: $static-theme-item-color;
}

.snackbar {
  background-color: $white-color;
  color: $black-color;
}

.spinner-icon {
  margin-left: 10px;
}

.hidden-content {
  height: 100vh;
  overflow: hidden;
}

.inner-wrapper {
  padding: 20px;
}

.grid-container {
  display: flex;
  justify-content: space-between;
}

.content-wrapper {
  padding: 40px 20px;
}

.flex-vertical-center {
  align-items: center;
}

h2.headline, .headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $headline-color;
  font-size: 36px;
  line-height: 140%;
  font-weight: 500;
  margin-bottom: 20px;
}

.headline-decor {
  color: $headline-color;
}

.item-card {
  width: calc(50% - 10px);
}

.item-container, .item-card {
  padding: 30px;
  opacity: 0.9;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 18px -8px rgba(222,222,222,1);
  -moz-box-shadow: 0 0 18px -8px rgba(222,222,222,1);
  box-shadow: 0 0 18px -8px rgba(222,222,222,1);
  transition: $transition;
  background-color: $white-color;
}

.item-container:hover, .item-card:hover {
  -webkit-box-shadow: 0 0 18px -4px rgba(222,222,222,1);
  -moz-box-shadow: 0 0 18px -4px rgba(222,222,222,1);
  box-shadow: 0 0 18px -4px rgba(222,222,222,1);
}

h2.item-card__title, .item-card__title {
  display: flex;
  align-items: center;
  font-size: 26px;
  line-height: 32px;
  color: $sub-headline-color;
  font-weight: bold;
  margin-bottom: 50px;
}

/* animated background */
.background {
  width: 100vw;
  height: 100vh;
  background: $white-color;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  opacity: .9;
  animation: move $animationDuration linear infinite;

  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 30) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

/* form */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: $error;
  margin: 5px 0 20px;
}

::placeholder {
  color: $placeholder;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $placeholder;
}

input, select {
  background-color: transparent;
}

input, label, textarea {
  width: 100%;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: inherit;
  transition: background-color 100s ease-in-out 0s;
}


@media screen and (max-width: 860px) {

  h2.item-card__title, .item-card__title {
    font-size: 24px;
    line-height: 30px;
  }

  h2.headline, .headline {
    text-align: center;
    font-size: 26px;
    line-height: 32px;
  }
}
