/* colors */
$white-color: #fff;
$black-color: #000;

$default-theme: #5584ff;

$error: #ff7373;
$complete: #79ed49;

$placeholder: #b0b0b0;
$form-item-color: #b0b0b0;

$input-text: #8492af;
$input-border: #f6f6f6;
$input-border--hover: #eeebeb;

$border: #d4d9e3;
$border-light: #ccc;

$background: #f6f7fa;

$static-theme-color: #0e1a35;
$static-theme-item-color: #4f6fb2;

$theme-color: var(--theme-color);
$headline-color: var(--headline-color);
$theme-info-color: var(--theme-info-color);
$nav-item-color: var(--nav-item-color);
$wrapper-layout-color: var(--wrapper-layout-color);

$theme-dark-color: #113593;

$theme-item-color: var(--theme-item-color);
$theme-item-color--hover: #5584ff;

$theme-light-color: #4c50c6;
$theme-light-color-items: #4f39d7;
$theme-light-color-items--hover: #5584ff;

$decor-item--hover: #3b56db;
$decor-item--active: #5584ff;

$btn: #799efb;
$btn-decor: #4c7bf6;
$btn--disabled: #ccc;

$text-shadow: #b1c0e2;
$text-color: #767bb0;
$sub-headline-color: #8492af;

/* background animation */
$color1: #583C87;
$color2: #5974bb;
$color3: #5584ff;
$colors: (
  $color1,
  $color2,
  $color3
);

$amount: 20;
$particleSize: 6vmin;
$animationDuration: 45s;

/* sidebar */
$sidebar-width-xs: 100%;
$sidebar-width-md: 260px;
$sidebar-width-lg: 320px;

$wrapper-width-xs: 100%;
$wrapper-width-md: calc(100% - 260px);
$wrapper-width-lg: calc(100% - 320px);


/* transitions */
$transition: .4s;
$short-transition: .3s;
$long-transition: .6s;


/* fonts */
$base-fonts: 'Roboto', 'Helvetica', 'Open Sans', 'sans-serif', 'Arial';


